<!DOCTYPE html>
<html lang="en">
<head>
    <title>insta485</title>
</head>
<body>
    <div class="menu">
        <!--logo link-->
        <div>
            <div style="display: flex;">
                <a href="/">
                    <img src="/images/ins_logo_black.png" 
                    alt="ins logo" 
                    style="width:42px;height:42px;">
                </a>
                <p style="font-size: large;">&emsp;|&emsp;Insta485</p>
            </div>
        </div>

        <!--explore and logname-->
        <div style="font-size: larger;">
            <a href="/explore/" style="color: black;">
                /explore
            </a>
            <a href="/users/{{logname}}/" style="color: black;">
                /{{logname}}
            </a>
        </div>
    </div>
    <!--edit account-->
    <img src="/uploads/{{ filename }}" alt="">
    <p>{{ logname }}</p>
    <form action="/accounts/?target={{ request_url }}" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept="image/*"/>
        <input type="text" name="fullname" value="{{ fullname }}" required/>
        <input type="text" name="email" value="{{ email }}" required/>
        <input type="submit" name="update" value="submit"/>
        <input type="hidden" name="operation" value="edit_account"/>
    </form>
    <a href="/accounts/password/">Change password</a><br>
    <a href="/accounts/delete/">Delete account</a>
</body>
</html>